<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Invalid login</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  {% load static %}
  <link href="{% static 'gallery/img/favicon.png' %}" rel="icon">
  <link href="{% static 'gallery/img/favicon.png'%}" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|EB+Garamond" rel="stylesheet">

  <link href="{% static 'gallery/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <link href="{% static 'gallery/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <link href="{% static 'gallery/css/style.css'%}" rel="stylesheet">

</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

  <section id="about" name="about"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <h3>Something went wrong!</h3>
        <p class="centered"><i class="icon icon-circle"></i>
            <i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        <div class="col-lg-6 col-lg-offset-3">
            <p>You have entered <b>invalid credentials</b>, try again.</p>
          <p><a href="../login/" class="btn btn-warning">LOG IN</a></p>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'gallery/lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'gallery/lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'gallery/lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'gallery/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'gallery/js/main.js' %}"></script>

</body>
</html>